@charset "UTF-8";


*{ /*Resete total do proejto.*/
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100wh;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /*Para o fundo cobrir a tela interira.*/
    background-attachment: fixed; /*Para o fundo ficar fixo.*/
}

main{
    height: 100vh;
    position: relative; /*Para poder organizar a centralização das coisas que vão na frente do main.*/
}

section#telefone{
    position: absolute; /*Aqui dá a possibilidade de centralizar o elemento.*/
    top: 50%; /*Posicionando o elemento*/
    left: 50%; /*Posicionando o elemento*/
    transform: translate(-50%, -50%); /*Centraliza o objeto.*/
    height: 627px;  
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela{ /*Para deixar a tela com a imagem total tenho que ir lá no home.html e colocar o background-size: cover*/
    position: relative;
    top: 80px; 
    left: 22px; 
    width: 267px;  
    height: 471px;  
}

section#redes-sociais{
    text-align: right; /*Para trocar os ícones do lado esquerdo para o lado direito.*/
}

section#redes-sociais img{ /*Configurando as imagens dentro da section e dos links.*/
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*Deixa as imagens redondas.*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473); /*Cria uma sombra.*/
    box-sizing: border-box; /*Para fazer a borda fazer parte da imagem e deixar o efeito do hover melhor.*/
}

section#redes-sociais img:hover{ /*Para das os efeitos nos botões.*/
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px); /*Movimento do botão quando passa o mouse.*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534); /*Movimento da sombra.*/
    transition: transform 0.5s, border 1s; /*1º parâmetro para modificar o tempo de movimentação da imagem e o 2º para modificar o tempo de movimentação da borda*/
}
